---
import type { Post } from '@content/types/post';
import { Image } from 'astro:assets';

const { posts, section } = Astro.props;
---

<h1>Post List Component</h1>
<div>
  {posts.map((post: Post) => 
    <div class="mb-20">
      <Image src={post.featuredImageUrl} alt="Featured image" width="500" height="200" format="avif" loading="eager"/>
      <h2 class="mt-5 mb-1">
        <a 
          href={`/${section}/${post.slug}`}
          class="text-blue-800 hover:text-blue-500 text-2xl"
        >
          {post.title}
        </a>
      </h2>
      <div set:html={post.excerpt} />
    </div>
  )}
  
</div>
